*.zip

Dockerfile

test
test/*
docker
docker/*
hpc
hpc/*
doc
doc/**/**/*
legacy
legacy/**/**/*

rastertools-33-open-source/docs
rastertools-33-open-source/docs/**/**/*
rastertools-33-open-source/tests
rastertools-33-open-source/tests/**/**/*

*.pyc
*/__pycache
*/__pycache/*